ion-content{
    --background: #530931;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 32px;
    margin-top: 32px;
}
.logo{
    width: 20%;
}

.fundo{
    width: 200%;
    margin-left: -10%;
    margin-top: 10%;
    opacity: 10%;
    z-index: -1;
}


.btn-1{
    background-color: #11a9ff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-2{
    background-color: #db0036;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}